body {
    font-family: Verdana, Arial, sans-serif;
    margin: 10px;
}

#host {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
}

#nodes {
    width: 50%;
}

.node {
    background-color: #ddd;
    margin: 5px 0;
    padding: 5px 8px;
}

.node.hover {
    background-color: #ccc;
}

.node.selected {
    background-color: #34495e;
    color: #eee;
    cursor: pointer;
}

.ancestor {
    border-radius: 10px;
}

.no-children {
    color: #888;
    font-style: italic;
}

#node-data {
    font-family: 'Courier New', mono;
    left: 50%;
    margin-left: 20px;
    margin-top: 5px;
    position: fixed;
    top: 35px;
}

.node-data-row {
    line-height: 1.312;
}

.node-data-row.data-field {
    margin-left: 20px;
}
